.calcButtonsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin-top: 20px;
  gap: 30px;

  @media (max-height: 1200px) {
    gap: 20px;
  }

  @media (max-height: 992px) {
    gap: 16px;
  }

  @media (max-height: 768px) {
    gap: 12px;
  }
}
