.exprInput {
  width: 100%;

  border: none;

  background-color: transparent;
  color: var(--text-primary);

  font-size: 5em;
  font-weight: var(--font-weight-regular);

  text-align: right;

  &:focus {
    outline: none;
  }

  @media (max-height: 1200px) {
    font-size: 4em;
  }

  @media (max-height: 992px) {
    font-size: 3em;
  }

  @media (max-height: 768px) {
    font-size: 2em;
  }
}
