.divider {
  width: 100%;
  height: 2px;

  margin: 10px auto;

  background-color: var(--text-primary);
  border: none;
}

.calc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100%;
}
