.calcButton {
  --btn-bg-color: var(--bg-btn-neutral);
  --btn-text-color: var(--text-primary);

  width: 100px;
  height: 100px;
  font-size: 50px;
  font-weight: 500;

  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);

  border: none;
  cursor: pointer;
  border-radius: 50%;

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.15s ease;

  &:hover {
    background-color: color-mix(in srgb, var(--btn-bg-color) 85%, white);
  }

  &:active {
    background-color: color-mix(in srgb, var(--btn-bg-color) 75%, black);
    transform: scale(0.95);
  }

  &.primary {
    --btn-bg-color: var(--bg-btn-primary);
    --text-primary: var(--text-accent);
  }

  &.accent {
    --btn-bg-color: var(--bg-btn-accent);
    --text-primary: var(--text-accent);
  }
}
