.wrapper {
  width: 360px;
  height: auto;

  padding: 20px;

  border-radius: 1.5em;
  background-color: var(--bg-neutral);

  @media (min-height: 900px) {
    width: 580px;

    padding: 45px;
    border-radius: 2em;
  }
}
