.scrollerContainer {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    border-radius: 8px;

    scrollbar-color: white transparent;
}

.scrollerContent {
    display: flex;
    flex-direction: column;
    padding: 15px;
}