.calculation {
  display: flex;
  flex-direction: column;

  color: white;
  .expr {
    text-align: right;

    margin-bottom: 2px;

    overflow: hidden;
    text-overflow: ellipsis;

    color: lightgray;
    font-size: 12px;
  }

  .result {
    text-align: right;

    margin-bottom: 15px;

    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 24px;
  }
}

.historyItem {
  width: 100%;

  cursor: pointer;
}
