.scrollerContainer {
  display: flex;
  justify-content: center;

  height: 90%;

  border-radius: 8px;

  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

.scrollerContent {
  display: flex;
  flex-direction: column;
  padding: 15px;

  width: 100%;
}
